{% extends 'base.html' %}
{% load static %}
{% block pagecontent %}
<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
{% if request.user.is_authenticated %}
welcome {{ request.user.username }}
<a href="{% url 'logout' %} "><button>Logout</button></a>

{% else %}
Please Login

<a href="{% url 'login' %} " class="btn btn-primary">Login</a>
<a href="{% url 'signup' %} " class="btn btn-primary">Signup</a>
{% endif %}
<a href="{% url 'addzira' %} " class="btn btn-primary">Add Zira</a>
<a href="{% url 'viewzira' %} " class="btn btn-primary">View Zira</a>
</body>
</html>
{% endblock %}
